<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image alt="Photo" [src]="cards().images[0].url" />
    <mat-card-content>
        <p>
            {{ cards().name }}
        </p>
        <p>Price: {{ cards().price }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="buy.emit($event)">Buy</button>
    </mat-card-actions>
</mat-card>
